@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin 'daisyui';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: Figtree, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-moradoprin: #22103b;
    --color-blancoprin: #ffffff;
    --color-main: #fefee3;
    --color-footer: #d68c45;
    --color-secundario: #4c956c;

    --height-header: 15vh;
    --height-nav: 10vh;
    --height-main: 65vh;
    --height-footer: 10vh;
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }

    :root {
        color-scheme: light;
    }

    /* Fix position:fixed en iOS Safari */
    html, body {
        overflow-x: clip;
    }

    input, textarea, select {
        color: #000000 !important;
    }
}

@layer components {
    .btn-morado {
        @apply btn text-xl bg-moradoprin text-white hover:text-orange-600 border-0
        cursor-pointer p-4 focus:outline-none focus:ring-0;
    }

    .btn-transparente {
        @apply text-moradoprin hover:text-orange-600 font-bold bg-transparent
        border-0 p-0 cursor-pointer focus:outline-none focus:ring-0;
    }

    .table-zebra tbody tr:nth-child(even) {
        background-color: rgba(34, 16, 59, 0.05) !important;
    }

    .table-zebra tbody tr:nth-child(even):hover {
        background-color: rgba(34, 16, 59, 0.1) !important;
    }

    .table-zebra tbody tr:nth-child(odd):hover {
        background-color: rgba(34, 16, 59, 0.08) !important;
    }
}
